*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: rgb(255, 253, 111);
}

.image-container{
    width: 70vw;
    height: 70vh;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1rem 2rem 10rem rgba(0, 0, 0, 0.719);
    transition: all 0.1s;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}